/* Includes padding and border for element's total height and width */
* {
    box-sizing: border-box;
}

/* Gets rid of margin and padding from Task List */
ul {
    margin: 0;
    padding: 0;
}

/* Task List Style */
ul li {
cursor: pointer;
position: relative;
padding: 12px 8x 12px 40px;
background: white;
font-size: 18px;
transition: 0.2s;

/* This makes Task list items unselectable */
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}




